<div class="container crear">
    <div class="d-flex justify-content-center h-100">
        <div class="card registro">
            <div class="card-header">
                <h3>Registro</h3>
               
            </div>
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="registerUser()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <label for="firstName"></label>
                        <input id="firstName" name="firstName" formControlName="firstName" placeholder="Ingrese nombre" type="text" class="form-control" />
                        
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <label for="lastname"></label>
                        <input id="lastname" name="lastname" formControlName="lastname" placeholder="Ingrese apellido" type="text" class="form-control" />
                        
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <label for="email"></label>
                        <input id="email" name="email" formControlName="email" placeholder="Ingrese correo" type="email" class="form-control" />
                        
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <label for="password"></label>
                        <input id="password" name="password" formControlName="password"  placeholder="Ingrese contraseña" type="password" class="form-control" />
                       
                    </div>

                    <div *ngIf="!userForm.valid" class="mb-3">
                        <div class="login">
                            *Debes llenar todos los campos
                        </div>
                    </div>
                   
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Login" class="btn float-right login_btn btn-danger">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    ya estas registrado?<a routerLink="/login" class="login ml-2">Logueate</a>
                </div>
              
            </div>
        </div>
    </div>
</div>