<!-- series -->
<div class="container categorias">
  <div class="peliculas-recomendadas contenedor mt-3">
    <div class="contenedor-titulo-controles  mt-5 mb-5">
      <h3>Categorias</h3>


    </div>

    <div class="d-flex justify-content-around">
      <button type="button" class="btn btn-dark btnModales" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-medal mr-4 iconoGold"> </i>Medallas de oro: <strong class="text-danger">{{categorias}}</strong></button>
      <button type="button" class="btn btn-dark btnModales" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-medal mr-4 iconoplata"> </i>Medallas de Plata: <strong class="text-danger">{{plata}}</strong></button>
      <button type="button" class="btn btn-dark btnModales" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-medal mr-4 iconobronce"> </i>Medallas de bronce:  <strong class="text-danger">{{bronze}}</strong> </button>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            las medallas tienden a ser discos metálicos, similares en apariencia a las monedas, aunque usualmente de mayor diámetro y relieve pronunciado. Por lo tanto, también es sinónimo de premio, honor o condecoración. Normalmente tienen un símbolo o distinción en su interior. 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
            
          </div>
        </div>
      </div>
    </div>










  </div>



</div>
